<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Doggie Mode</title>
  </head>

  <body>
    <form method="POST" action="/new">
      <label>Name:<input type="text" name="name"></label><br>
      <label>Breed:<input type="text" name="breed"></label><br>
      <label>Age:<input type="number" name="age"></label><br>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
