<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Doggie Mode</title>
  </head>

  <body>
    <form method="POST" action="/display_puppy">
      <input type="text" name="name">
    </form>
  </body>
</html>
