<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Doggie Display</title>
  </head>

  <body>
    <h1>Here is a Puppy!</h1>
    <p>Puppy Name:</p>
    <h2><%=@new_pup.name%></h2>
    <p>Puppy Breed:</p>
    <h2><%=@new_pup.breed%></h2>
    <p>Puppy Age:</p>
    <h2><%=@new_pup.age%></h2>
  </body>
</html>
