<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Doggie Display</title>
  </head>

  <body>
    <h1>Here is a Puppy!</h1>
    <h2>Puppy Name:\n<%=@new_pup.name%></h2>
    <h2>Puppy Breed:\n<%=@new_pup.breed%></h2>
    <h2>Puppy Age:\n<%=@new_pup.age%></h2>
  </body>
</html>
